/* Set the container width to 100% */
.container {
  width: 100%;
}

.header {
  background-color: aquamarine;
  text-align: center;
  text-colorr: ;
}
/* Float the searchbox to the left and set its width to 33.33% */
.searchBox {
  float: left;
  width: 33.33%;
}

button {
  float: left;
  width: 33.33%;
  display: block;
}
/* Float the cityResults and 5dayForecast sections to the right and set their width to 66.66% */
.cityResults,
.dayforecast {
  float: right;
  width: 66.66%;
}
